<header>
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

    <nav id="navbarclass" class="navbar fixed-top navbar-expand-md">

      <!-- <a class="navbar-brand" href="/home/login">BUY/SELL CARS</a> -->

      <a class="navbar-brand" href="/">BUY/SELL CARS</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="justify-content: space-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/home/favorites">My Favourites</a>
          <a class="nav-item nav-link" href="/home/messages">Messages</a>
        </div>
        <div>
          <% if(user_id) { %>
            <form method="POST" action="/home/logout" class="navbar-nav d-flex justify-content-between">

              <p class="loginuser">Logged in as : <%= user_name %></p>
              <button type="submit" class="btn btn-outline-light">Log out</button>
            </form>

            <% } else { %>
              <form method="GET" action="/home/login" class="navbar-nav d-flex justify-content-between">
                <a class="nav-item nav-link" href="/home/login">Login</a>
                <form method="GET" action="/home/register" class="navbar-nav d-flex justify-content-between">
                  <a class="nav-item nav-link" href="/home/register">Register</a>
                </form>
              </form>
              <%}%>
            </div>
          </div>
        </nav>
</header>
