<header>
  <nav class = "nav-bar fixed-top">
    <a class="navbar-brand">BUY/SELL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <button class="nav-item nav-link" >Favourites</button>
        <button class="nav-item nav-link" >Message</button>
        <button class="nav-item nav-link" >Login</button>
        <button class="nav-item nav-link" >Register</button>
      </div>
    </div>
  </nav>
</header>
