<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header'); %>
  <!-- <h1>Have fun! 🥔</h1> -->
  <div class = itemsPosted>
    <div class = 'left-info'>
      <img src = 'https://images.unsplash.com/photo-1605559424843-9e4c228bf1c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNhcnN8ZW58MHx8MHx8&w=1000&q=80' alt = 'benz convertible' width = '400' height = '300'>
    </div>
    <div class='middle-info'>
      <div class='title'>
        <a href="#" class="'title">"2020 Mercedes Hybrid Titanium | MOONROOF | NAV | LEATHER |"</a>
      </div>

       <div class='attribute-milage'>
        <div class ='atrributeHeader-milage'>Kilometers</div>
        <span class='attributeValue-milage'>50,000Km</span>
      </div>

      <div class='attribute-location'>
        <div class ='atrributeHeader-location'>Location</div>
        <span class='attributeValue-location'> Ontario</span>
      </div>

      <div class='attribute-feulType'>
        <div class ='atrributeHeader-feulType'>Feul Type</div>
        <span class='attributeValue-feulType'> hybrid</span>
      </div>

    </div>
    <div class="'right-info">
      <div class ='price'>$53,995.00</div>
    </div>
  </div>






   <!-- Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
