 body {
   display: flex;
  justify-content: center;
   align-items: center;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   min-height: 100vh;
   background: rgb(0,0,0);
   background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(206,206,206,1) 100%);
 }

 .itemsPosted {
   display: flex;
   width: 80%;
   flex-direction: column;
   justify-content: space-between;
   background-color: lightsteelblue;
   padding: 15px 15px 15px 15px;
   margin-top: 100px;
   margin-bottom: 50px;
   border: solid;
   border-radius: 12px;
 }

 div.itemsPosted:hover {
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.1s;
}

div.groupItem-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img.photo {
  margin-right: 70px;
}
div.car-details {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

div.attribute-color {
  margin-right: 250px;
}

 div.left-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
 }

div.price{
  color:green;
}
div.right-col {
  display:flex;
  flex-direction: row;
}

.middle-info {
  display:flex;
  flex-direction: column;
  justify-content: space-between;

}

div.details{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.favourite-container{
  display:inline-block;
  position:relative;
}

.favourite-container button{
    position: absolute;
    top:2em;
    right:6em;
    border-radius:1.5em;
    color:white;
    padding:1em 1.5em;
  }

  #icons button:hover {
    color: rgb(182, 182, 0);
  }


  #favorite-icon {
    padding: 0;
    border: none;
    background: none;
    color: white;
  }


  .group-button {
    display: flex;
    flex-direction: row;
  }


#sold-button {
  margin-right : 30px;
}

#sold-button :focus {
  background-color: transparent;

}

