 body {
   display: flex;
  justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: rgb(163, 208, 219);
   background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
         rgba(163, 176, 219, 1) 20%,
     rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
     rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
 }

 .itemsPosted {
   display:flex;
   width: 80%;
   flex-direction: row;
   justify-content: space-between;
   background-color: lightsteelblue
 }


div.price{
  color:green;
}
div.right-col {
  display:flex;
  flex-direction: row;
}

.middle-info {
  display:flex;
  flex-direction: column;
  justify-content: space-between;

}

div.details{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
