body {
  margin-top: 7em;
  width: 90%;
  margin-left: 5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(206,206,206,1) 100%);
}

.message-all-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
  margin-left: 200px;
  padding: 20px;
  border: solid;
  border-radius: 12px;
  background: rgb(174, 238, 213);
  background: radial-gradient(circle, rgba(174, 238, 213, 1) 0%, rgba(148, 159, 233, 1) 100%);
}

.chat-log {
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  column-gap: 1em;
  border: solid;
  border-radius: 12px;
}

.message-container {
  margin-left: 350px;
  width: 900px;
}

.sender {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  row-gap: 0;
}

.receiver {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  row-gap: 0;
}

textarea {
  width: 60%;
}

.message-button {
  font-size: 16px;
  width: 60%;
  padding: 8px 10px;
  text-align: center;
  border-radius: 12px;
  background-color: white;
  border: 2px solid gray;
  color: black;
  transition-duration: 0.4s;
}

.message-button:hover {
  background-color: #008CBA;
  color: white;
}
