#navbarclass{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(55,55,55,1) 100%);
  font-size: 20px;
}

.loginuser{
  color: white;
  padding-top: 15px;
  margin-right: 10px;
}

.navbar-brand{
  font-size: 30px;
}
